<div id="login-container">
  <div class="authentication">
    <div class="logo">
      <img src="assets/images/gestorpay.png" alt="logo">
    </div>

    <form nz-form [formGroup]="form" class="login-form">
      <nz-form-item>
        <nz-form-control nzErrorTip="Por favor informe sua senha">
          <nz-input-group [nzSuffix]="passwordVisibleTemplate" nzPrefixIcon="lock" style="border-radius: 5px; font-size: 18px;">
            <input [type]="passwordVisible ? 'text' : 'password'" nz-input placeholder="Senha" formControlName="password"/>
          </nz-input-group>
          <ng-template #passwordVisibleTemplate>
            <span style="cursor: pointer;" nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></span>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control nzErrorTip="Por favor informe sua senha">
          <nz-input-group [nzSuffix]="checkPasswordVisibleTemplate" nzPrefixIcon="lock" style="border-radius: 5px; font-size: 18px;">
            <input [type]="checkPasswordVisible ? 'text' : 'password'" nz-input placeholder="Confirmar Senha" formControlName="checkPassword"/>
          </nz-input-group>
          <ng-template #checkPasswordVisibleTemplate>
            <span style="cursor: pointer;" nz-icon [nzType]="checkPasswordVisible ? 'eye-invisible' : 'eye'" (click)="checkPasswordVisible = !checkPasswordVisible"></span>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </form>

    <div class="container">
      <button nz-button nzShape="round" [nzType]="'default'" (click)="onLogin()" nzDanger>voltar</button>
      <button nz-button style="margin-left: 20px;" nzShape="round" [nzType]="'primary'" (click)="onResetPassword()">Redefinir</button>
    </div>

  </div>
</div>


