.authentication {
  width: 30vw;
  padding-right: 24px;

  .logo {
    text-align: center;
    width: 30em;
    margin: 0 auto 8px auto;

    img {
      width: 60%
    }
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}







