<div nz-row [nzGutter]="{ xs: 4, sm: 4, md: 8, lg: 8, xl: 16, xxl: 16 }">

  <div nz-col nzSpan="4">
    <ng-container *ngIf="imgUrl !== null; else imageTemplate">
      <div class="image-container">
        <img class="rounded-image" nzDisablePreview nz-image (click)="triggerFileInput()" [nzSrc]="imgUrl" alt="perfil"/>
        <div class="overlay" (click)="triggerFileInput()">Alterar Imagem</div>
      </div>
    </ng-container>
    <ng-template #imageTemplate>
      <div class="image-container">
        <img class="rounded-image" nz-image nzDisablePreview (click)="triggerFileInput()" nzSrc="assets/images/user.png" alt="user_padrao"/>
        <div class="overlay" (click)="triggerFileInput()">Alterar Imagem</div>
      </div>
    </ng-template>
    <input #fileInput type="file" accept="image/png, image/jpeg, image/jpg" style="display: none;" (change)="onFileSelected($event)" />
  </div>

  <div nz-col nzSpan="20">

    <div nz-row [nzGutter]="{ xs: 4, sm: 4, md: 8, lg: 8, xl: 16, xxl: 16 }" style="display: flex;">
      <div nz-col nzSpan="18">
        <h2 style="text-transform: uppercase;">{{ name }}</h2>
      </div>
      <div nz-col nzSpan="2">
        <button nz-button nzSize="small" nzShape="round" nzType="default" (click)="showFeedbackHistory()">Histórico</button>
      </div>
      <div nz-col nzSpan="4">
        <button nz-button nzSize="small" nzShape="round" nzType="default" (click)="onEdit()">Editar Perfil</button>
      </div>
    </div>
    <div style="margin-bottom: 20px;">
      <span style="font-size: 18px; color: #1890ff;">{{ position }}</span><br>
      <span>{{ email }}</span>
    </div>
  </div>
</div>

<nz-drawer
nzSize="large"
[nzVisible]="visibleDrawer"
nzPlacement="right"
nzTitle="Histórico de Feedback"
(nzOnClose)="close()"
>
  <ng-container *nzDrawerContent>
    <ng-container *ngFor="let feedback of feedbacks">
      <nz-comment [nzAuthor]="name" [nzDatetime]="(feedback.creationDate | date: 'dd/MM/yyyy HH:mm:ss') ?? ''">
        <nz-comment-content>
          <p>{{ feedback.feedback }}</p>
        </nz-comment-content>
      </nz-comment>
    </ng-container>
  </ng-container>
</nz-drawer>

<nz-divider></nz-divider>

  <nz-tabset nzTabPosition="left">
    <nz-tab *ngFor="let tab of tabs" [nzTitle]="titleTemplate">
      <div nz-row [nzGutter]="{ xs: 4, sm: 4, md: 8, lg: 8, xl: 16, xxl: 16 }">
        <ng-template #titleTemplate>
          {{ tab.name }}
        </ng-template>
        @if (tab.id === 1) {
          <div nz-col nzSpan="24">
            <nz-descriptions nzSize="small" nzLayout="horizontal" style="margin-bottom: 20px;">
              <nz-descriptions-item nzTitle="Data de Nascimento">{{ birthDate ? (birthDate | date: 'dd/MM/yyyy') : '---' }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Telefone">{{ phoneNumber !== '' ? (phoneNumber | phoneFormat: countryCode) : '---' }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Data de entrada">{{ entryDate ? (entryDate | date: 'dd/MM/yyyy') : '---' }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Tempo de Empresa">{{ companyTime !== '' ? companyTime : '---' }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Permissão">{{ role  ? (role === 1 ? 'Admin' : 'Usuário') : '---' }}</nz-descriptions-item>
            </nz-descriptions>
            <nz-descriptions nzTitle="Endereço" nzSize="small" nzLayout="horizontal" style="margin-bottom: 20px;">
              <nz-descriptions-item nzTitle="Bairro">{{ district !== '' ? district : '---' }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Rua">{{ street !== '' ? street : '---' }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Número">{{ number !== '' ? number : '---' }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Complemento">{{ complement !== '' ? complement : '---' }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Cidade">{{ city !== '' ? city : '---' }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Estado">{{ state !== '' ? state : '---' }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="País">{{ country !== '' ? country : '---' }}</nz-descriptions-item>
            </nz-descriptions>
          </div>
        } @else if (tab.id === 2) {
          <div nz-col nzSpan="24">
            <nz-descriptions nzTitle="Informações da Empresa" nzSize="small" nzLayout="horizontal" style="margin-bottom: 20px;">
              <nz-descriptions-item nzTitle="Empresa">{{ companyName !== '' ? companyName : '---' }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Email" nzSpan="2">{{ companyEmail !== '' ? companyEmail : '---' }}</nz-descriptions-item>
            </nz-descriptions>
            <nz-descriptions nzTitle="Endereço" nzSize="small" nzLayout="horizontal">
              <nz-descriptions-item nzTitle="Bairro">{{ companyDistrict !== '' ? companyDistrict : '---' }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Rua">{{ companyStreet !== '' ? companyStreet : '---' }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Número">{{ companyNumber !== '' ? companyNumber : '---' }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Complemento">{{ companyComplement !== '' ? companyComplement : '---' }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Cidade">{{ companyCity !== '' ? companyCity : '---' }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Estado">{{ companyState !== '' ? companyState : '---' }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="País">{{ companyCountry !== '' ? companyCountry : '---' }}</nz-descriptions-item>
            </nz-descriptions>
          </div>
        } @else if (tab.id === 3) {
          <div nz-col nzSpan="12">
            <div>
              <h3 style="margin-bottom: 10px;">Ajude-nos a melhorar!</h3>
            </div>
            <form nz-form [formGroup]="form" nzLayout="vertical">
              <nz-form-item>
                <nz-form-control>
                  <nz-textarea-count [nzMaxCharacterCount]="300">
                    <textarea rows="6" formControlName="feedback" nz-input></textarea>
                  </nz-textarea-count>
                </nz-form-control>
              </nz-form-item>
            </form>
            <div class="button-container">
              <button nz-button nzType="primary" nzSize="small" (click)="onSendFeedback()">Enviar</button>
            </div>
          </div>
        }
      </div>
    </nz-tab>
  </nz-tabset>



