#login-container {
  display: grid;
  place-items: center;
  width: 90vw;
  height: 85vh;

  .authentication {
    padding: 20px;
    width: 40vw;
    background-color: rgba(255, 255, 255, .9);
    box-shadow: 0 4px 8px rgba(0,0,0,.75);
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: height 0.5s, padding 0.5s, margin 0.5s, height 0.5s, border-width 0.5s;

    .logo {
      text-align: center;
      width: 30em;
      margin: 0 auto 8px auto;

      img {
        width: 100%
      }
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;

      .login-form-button {
        width: 50%;
        border-radius: 10px;
      }
    }

    .login-form-margin {
      margin-bottom: 16px;

      .login-form-forgot {
        float: right;
      }
    }
  }
}




