<div>
  <h2 style="text-transform: uppercase;">Permissão</h2>
  <nz-divider></nz-divider>
</div>

<nz-descriptions nzBordered nzLayout="vertical" style="margin-bottom: 20px;">
  <nz-descriptions-item nzTitle="Nome">{{ name }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Cargo">{{ employeePosition }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Email">{{ email }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Data de entrada">{{ entryDate | date: 'dd/MM/yyyy' }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Tempo de Empresa">{{ companyTime }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Endereço">{{ address }}</nz-descriptions-item>
</nz-descriptions>

<form nz-form [formGroup]="form" nzLayout="vertical">
  <div nz-row [nzGutter]="{ xs: 4, sm: 4, md: 8, lg: 8, xl: 16, xxl: 16 }">
    <div nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-control>
          <nz-form-label nzRequired nzFor="role">Conceder permissão</nz-form-label>
          <nz-select formControlName="role" nzPlaceHolder="permissão">
            <nz-option [nzValue]="1" nzLabel="Admin"></nz-option>
            <nz-option [nzValue]="2" nzLabel="Usuário"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>

<div id="buttons-container">
  <button nz-button nzType="default" nzDanger (click)="onBack()">Voltar</button>
  <button nz-button nzType="primary" (click)="onSubmit()">Salvar</button>
</div>
